name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - "./github/**"
  pull_request:
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - "./github/**"
    types:
      - opened
      - synchronize
      - ready_for_review
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true

      - name: Install MkDocs dependencies
        run: |
          uv pip install --system \
            mkdocs==1.6.1 \
            mkdocs-material==9.6.21 \
            mkdocstrings[python]==0.30.1 \
            pymdown-extensions==10.16.1

      - name: Build MkDocs
        run: uv run mkdocs build --strict -f mkdocs.yml

      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: site/

      - name: Deploy GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
